In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('heart.csv')

In [8]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
df_new = df[(df.trestbps < df.trestbps.mean() + 3*df.trestbps.std())
            & (df.chol < df.chol.mean() + 3*df.chol.std())
            & (df.oldpeak < df.oldpeak.mean() + 3*df.oldpeak.std())
            & (df.thalach > df.thalach.mean() - 3*df.thalach.std())]

In [58]:
df_new.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

### Gaussian Navie Bayes

In [4]:
from sklearn.naive_bayes import GaussianNB

In [5]:
nbModel = GaussianNB()

In [6]:
from sklearn.model_selection import train_test_split

In [12]:
X = df_new.drop('target',axis=1)
y = df_new['target']

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [39]:
nbModel.fit(X_train,y_train)

GaussianNB()

In [40]:
pred = nbModel.predict(X_test)

In [41]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [42]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.90      0.73      0.80        48
           1       0.74      0.90      0.81        41

    accuracy                           0.81        89
   macro avg       0.82      0.82      0.81        89
weighted avg       0.82      0.81      0.81        89

In [57]:
accuracy_score(pred,y_test)

0.8202247191011236

### Bernoulli Navie Bayes

In [44]:
from sklearn.naive_bayes import BernoulliNB

In [45]:
bnModel = BernoulliNB()

In [47]:
bnModel.fit(X_train,y_train)

BernoulliNB()

In [54]:
pred = bnModel.predict(X_test)

In [55]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.92      0.73      0.81        48
           1       0.75      0.93      0.83        41

    accuracy                           0.82        89
   macro avg       0.83      0.83      0.82        89
weighted avg       0.84      0.82      0.82        89

In [56]:
accuracy_score(pred,y_test)

0.8202247191011236